version: 2.1

executors:
  android:
    docker:
      - image: cimg/android:2024.11
    environment:
      JVM_OPTS: -Xmx3200m

jobs:
  build:
    executor: android
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-jars-{{ checksum "build.gradle" }}-{{ checksum "lib/build.gradle" }}
            - v2-jars-
      - run:
          name: Download Dependencies
          command: ./gradlew dependencies
      - run:
          name: Build
          command: ./gradlew assembleDebugUnitTest
      - save_cache:
          paths:
            - ~/.gradle
          key: v2-jars-{{ checksum "build.gradle" }}-{{ checksum "lib/build.gradle" }}
  test:
    executor: android
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-jars-{{ checksum "build.gradle" }}-{{ checksum "lib/build.gradle" }}
            - v2-jars-
      - run:
          name: Run Tests
          command: ./gradlew test
      - run:
          name: Create coverage report
          command: ./gradlew jacoco
      - run:
          name: Send coverage
          command: bash <(curl -s https://codecov.io/bash) -t c6baed7c-74c0-4042-8d37-dc0196b1374b

workflows:
  test-and-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
